.channels {
    color: white;
    background-color: #4d134e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 2px 0 2px 20px;
    height: 24px;
    cursor: pointer;
}

.channels:hover {
    background: #350d36;
}

.channels__hash {
    padding-left: 12px;
    padding-right: 5px;
}

.channels > h3 {
    font-weight: 200;
    user-select: none;
}