.header {
    padding: 1px 0 2px 0;
    background: #350d36;
    color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 203;
}

.header__left {
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
    flex: 1;
    min-width: 128px;
    justify-content: flex-end;
    opacity: .8;
}

.header__search {
    position: relative;
    flex: 2;
    min-width: 0;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.header__search input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex: 5;
    padding: 0 8px;
    height: 24px;
    min-width: 0;
    max-width: 500px;
    border-radius: 8px;
    border-bottom: none;
    border-right: none;
}

.header__help {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    margin-left: 16px;
    width: 26px;
    height: 26px;
    position: relative;
    cursor: pointer;
}

.header__right {
    flex: 1;
    padding: 0 16px 0 32px;
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header .MuiSvgIcon-root {
    font-size: 22px;
}

.header__left .MuiSvgIcon-root {
    cursor: pointer;
}

.header__avatar {
    cursor: pointer;
}