.chatMessageInput {
    border-radius: 20px;
}

.chatMessageInput > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatMessageInput > form > input {
    position: fixed;
    bottom: 30px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.chatMessageInput > form > button {
    display: none !important;
}