.chatHeader {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    border-bottom: 1px solid lightgray;
}

.chatHeader__left {
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.chatHeader__left > h4 {
    text-transform: lowercase;
    font-size: 17px;
    padding-right: 4px;
}

.chatHeader__left > .MuiSvgIcon-root {
    padding-left: 6px;
    font-size: 22px;
    opacity: .6;
    cursor: pointer;
}

.chatHeader__right {
    display: flex;
    align-items: center;
    border: 1px solid lightslategray;
    border-radius: 6px;
}

.chatHeader__right > h4 {
    font-size: 15px;
}

.chatHeader__right > .MuiSvgIcon-root {
    font-size: 22px;
    opacity: .6;
    cursor: pointer;
}

.chatHeader__right > p {
    padding: 2px 8px;
}

.chatHeader__right__small {
    width: 10px;
    height: 10px;
}