.login {
    height: 100vh;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
}

.login__card {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__card > button {
    margin-top: 50px;
    text-transform: inherit !important;
}

.login__card > img {
    height: 128px;
    padding-bottom: 20px;
}

#google-img {
    width: 40px;
    height: 40px;
}